---
import { Image } from 'astro:assets';
export interface Props {
  title: string
  text: string
  width: number
  height: number
  imagePath: string;

}

const { title,text,imagePath,width,height } = Astro.props;
const imagePromise = import(imagePath);

// Use the `await` keyword to wait for the promise to resolve
const imageModule = await imagePromise;

// Access the `default` property
const image = imageModule.default;
---

<main class="">
	<div class="flex flex-col gap-4 ">
		<div class="flex justify-center items-center">
      <Image height={height} width={width} src={image} alt={`image`} />
    </div>
    
  <h1 class="text-xl font-bold text-center">{title}</h1>
	<h1>{text}</h1>
	</div>
</main>

