---
import Card from './Card.astro';

const cardDetails = [
  {
    title: "Our Story",
    imagePath: 'https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397011/Aaccent/cwxvsud6phkiszskjb2w.jpg',
    description:
      "We at ADVANTAGE aim to make our students adept and develop in them academic excellence, sincerity and positive values to make them responsible citizens of our country. The team of qualified & experienced faculty train the students with the right guidance as per the syllabi/patterns /types of questions and also induces in them the spirit of excellence by keeping their morale high up.",
    
    width: 400, // Set the actual width of the image
    height: 600, // Set the actual height of the image
  },
  {
    title: "Our Services",
    imagePath: 'https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397011/Aaccent/q3mp60nr2odxqttcbtnp.jpg',
    description:
      "At Advantage Academic Center Tutoring Centre, we offer a wide range of tutoring services to meet the unique needs of each student. From one-on-one tutoring to group classes, we have everything you need to succeed.",

    width: 400, // Set the actual width of the image
    height: 600, // Set the actual height of the image
  },
  {
    title: "Our Tutors",
    imagePath: 'https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397011/Aaccent/uxclyask1ylacycgqqcj.jpg',
    description:
      "Our tutors are experienced educators who are passionate about their subjects and committed to helping students succeed. They work closely with each student to develop a customized learning plan that meets their unique needs and helps them achieve their goals.",
   
    width: 400, // Set the actual width of the image
    height: 600, // Set the actual height of the image
  },
  {
    title: "About Us",
    imagePath: 'https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397010/Aaccent/najplhse7blot2cx5moz.jpg',
    description:
      "Advantage academic centre started its journey in december 2005 from scratch. in around 18 years time it has become what it is today. presently advantage has approximately 150 students from renowned schools of kolkata like st xaviers, m p birla, mahadevi birla, etc are under our guidance.",
  
    width: 400, // Set the actual width of the image
    height: 600, // Set the actual height of the image
  },
  // ... (repeat for other cardDetails)
];

---

<main class="max-w-5xl mx-auto">
  <div class="">
   
  </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 p-10 ">
        {cardDetails.map((item) => (
           <Card 
            title={item.title}
            imagePath={item.imagePath}
            width={item.width}
            height={item.height}
            text={item.description} 
           />
        ))}
    </div>
</main>
