---
import { Image } from "astro:assets";
import pic1 from '../../assets/Image1.jpeg'
import pic2 from '../../assets/Image2.jpeg'
import pic3 from '../../assets/Image3.jpeg'
import pic4 from '../../assets/Image4.jpeg'
import Herosection from '../../assets/Image5.jpeg'

---

<main class="max-w-6xl p-16 mx-auto">
    <h1 class="text-4xl font-bold text-center">Capturing the Magic of Education: Advantage Academic Center's Photo Gallery</h1>
    <div class="grid grid-cols-3 gap-8 mt-8">
        <Image src={pic1} alt="" />
        <Image  src={pic4} alt="" />
        <Image src={pic3} alt="" />
        <Image src={pic4} alt="" />
        <Image src={Herosection} alt="" />
        <Image src={pic1} alt="" />
    </div>
</main>