---
import { Image } from "astro:assets";
import pic1 from '../assets/pic1.jpg'
import pic2 from '../assets/pic2.jpg'
import pic3 from '../assets/pic3.jpg'
import pic4 from '../assets/pic4.jpg'
import Herosection from '../assets/Herosection.jpg'

---

<main class="max-w-6xl p-16 mx-auto">
    <h1 class="text-4xl font-bold text-center">Capturing the Magic of Education: Advantage Academic Center's Photo Gallery</h1>
    <div class="grid grid-cols-3 gap-8 mt-8">
        <Image src={pic1} alt="" />
        <Image  src={pic4} alt="" />
        <Image src={pic3} alt="" />
        <Image src={pic4} alt="" />
        <Image src={Herosection} alt="" />
        <Image src={pic1} alt="" />
    </div>
</main>